<div class="container">
  <div class="cover-heading">About</div>
  <hr>

  <div class="row">
    <div class="col-md-6 my-auto">
        <h3>Direction</h3>
        <p>Yucatan, Mexico</p>

        <p>Phone number</p>
        <p>+52 5555555555</p>

        <h3>Email</h3>
        <p><a href="mailto:example@gmail.com?subject=Contact" "email me">Email me</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59530.8302061216!2d-90.06519156424994!3d21.1652532359902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ff544a77ffb431%3A0x26d0f35f4844ea1b!2sPlaya%20Sisal!5e0!3m2!1ses!2smx!4v1676874078494!5m2!1ses!2smx" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

</div>


<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
